<div class="main-content">
    <div class="container-fluid" (click)="hideNote()">

        <div class="alert alert-danger" *ngIf="note">
            <span><b>Ошибка: </b> {{note}}</span>
        </div>

        <div class="alert alert-warning" *ngIf="warn" (click)="hideNote()">
            <span><b>Внимание: </b> {{warn}}</span>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Cписок продуктов
                            <button mat-raised-button routerLink="../new-post" class="btn f-right db btn-white btn-round btn-just-icon">
                                <i class="material-icons">add</i>
                                <div class="ripple-container"></div>
                            </button></h4>
                        <p class="card-category"> Тут можно редактировать и удалять </p>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <!-- <th>QRcode</th> -->
                                    <th>Название</th>
                                    <th>Цена</th>
                                    <th>Количество</th>
                                    <th>Общ. стоимость</th>
                                    <th>Продано в ед</th>
                                    <th>Осталось в ед.</th>
                                    <th>Продано в сомах</th>
                                    <th>Осталось в сомах</th>
                                    <th>Дата</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let post of posts$ | async">
                                        <!-- <td>{{post.qrcode}}</td> -->
                                        <td>{{post.title}}</td>
                                        <td>{{post.price}}</td>
                                        <td>{{post.amount}}</td>
                                        <td><b>{{post.price * post.amount}}</b></td>
                                        <td>{{post.soldAmount}}</td>
                                        <td>{{post.amount - post.soldAmount}}</td>
                                        <td><b>{{post.price * post.soldAmount}}</b></td>
                                        <td><b>{{post.price * (post.amount - post.soldAmount)}}</b></td>
                                        <td>{{post.created | date : 'dd.MM.yyyy'}}</td>

                                        <td>
                                            <i [routerLink]="['/posts/edit/', post._id]"
                                            class="material-icons cursor f-right">create</i>
                                            <i (dblclick)="deletePost(post)"
                                            class="material-icons cursor f-right">delete</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>